# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

[*]
# Unix-style newlines with a newline ending every file and trim trailing white spaces
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
# 2 space indentation
indent_style = space
indent_size = 2

# Set default charset
[*.{js,vue}]
charset = utf-8
